<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eye_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28935CB71F06D06900C7D3CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28935CD01F06D06A00C7D3CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28935CDB1F06D06A00C7D3CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
